@import url("https://fonts.googleapis.com/css?family=Poppins");
.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 800px;
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.carousel_area {
  width: 1380px;
  height: 500px;
  white-space: nowrap;
}

.carousels {
  height: 100%;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.carousel_box {
  height: 100%;
  display: inline-block;
}

.carousel_box .carousel_img {
  width: 1080px;
  height: 100%;
  margin-left: 150px;
  margin-right: 150px;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s 0s;
  transition: 0.5s 0s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
}

.carousel_box .carousel_img:hover {
  width: 1100px;
  height: 102.5%;
}

.carousel_box .carousel_img:hover .text_content {
  -webkit-transform: translateX(-525px) translateY(-200px) rotate(-25deg);
          transform: translateX(-525px) translateY(-200px) rotate(-25deg);
}

.carousel_box .text_content {
  color: rgba(255, 255, 255, 0.75);
  -webkit-transform: translateX(-500px) translateY(-175px) rotate(-25deg);
          transform: translateX(-500px) translateY(-175px) rotate(-25deg);
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.5s 0s;
  transition: 0.5s 0s;
}

.carousel_box .text_content h1 {
  font-size: 72px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
  }
}

@-webkit-keyframes sliceIn {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes sliceIn {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.cur_item .carousel_img {
  -webkit-animation: fadeIn 1s ease both;
          animation: fadeIn 1s ease both;
}

.cur_item .text_content h1 {
  -webkit-animation: sliceIn 1s 0.1s ease;
          animation: sliceIn 1s 0.1s ease;
}

.control_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 25px;
}

.controls {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.controls:hover {
  background-color: #999;
}

.now_item {
  background-color: #999;
}

@media only screen and (max-width: 1200px) {
  .carousel {
    height: 700px;
  }
  .carousel_area {
    width: 900px;
    height: 500px;
  }
  .carousel_box .carousel_img {
    width: 800px;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
  }
  .carousel_box .carousel_img:hover {
    width: 825px;
    height: 102.5%;
  }
}

@media only screen and (max-width: 992px) {
  .carousel_area {
    width: 692px;
  }
  .carousel_box .carousel_img {
    width: 592px;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
  }
  .carousel_box .carousel_img:hover {
    width: 617px;
    height: 102.5%;
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    height: 600px;
  }
  .carousel_area {
    width: 468px;
    height: 400px;
  }
  .carousel_box .carousel_img {
    width: 368px;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
  }
  .carousel_box .carousel_img:hover {
    width: 393px;
    height: 102.5%;
  }
}
/*# sourceMappingURL=home_carousel.css.map */